<%- include("../partials/header.ejs") %>
<section>
<div class="container">
<div class="row">
    <div style="width: 30%; margin: 25px auto;">
        <div class="col-md-12 text-center">
            <h1 class="mb-4">Login</h1>
        </div>
        <form class="form-signin" action="/login" method="post">
            <div class="form-group">
              <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
              <div>
                <label for="inputUsername">Username</label>
              </div>
            </div>
      
            <div class="form-group">
              <div class="input-icons">
                <i id="passIcon" class="fa fa-eye-slash icon" onclick="Toggle()"></i>
                <input type="password" id="inputPassword" class="form-control input-field" placeholder="Password" name="password" required>
              <label for="inputPassword">Password</label>
              </div>
            </div>
      
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          </form>
    </div>
</div>
</div>
</section>
<%- include("../partials/footer.ejs") %>
