<% layout("layout")-%>
<div class="container">
<div class="row">
<div class="col-md-10 offset-md-1">
<div class="row">
<div class="col-md-5 register-left">
<h3>Sign Up Now</h3>
<p>Thank You for choosing Ticket Cloud</p>
<button class="btn btn-primary">About Us</button>
</div>

<section id="user-roles" class="register-right col-md-7">
  <div class="col-md-12 text-center">
    <h2>Welcome to the Ticketing Sytem</h2>
    <p>Please choose a method to Sign Up</p>
  </div>
  <div class="col-md-12">
    <button class="btn btn-sm btn-outline-success btn-block" onclick="signUpToggle()" id="as-user">Sign Up as User</button>
    <button class="btn btn-sm btn-info btn-block" onclick="signUpToggle()" id="as-admin">Sign Up as Admin</button>
  </div>
</section>

<section id="sign-up-form" class="register-right col-md-7 hide">

    <form class="form-signin needs-validation novalidate" action="/register" method="POST" autocomplete="off">
      <div class="register-form">
        <div class="form-row mb-2">
           <div class="col-md-6">
               <label for="firstName">First name</label>
               <input type="text" class="form-control is-valid" id="firstName" placeholder="First Name" name="firstName" required>
               <!-- <div class="valid-feedback">
                   Looks good!
                 </div> -->
             </div>
             <div class="col-md-6">
               <label for="lastName">Last name</label>
               <input type="text" class="form-control is-valid" id="lastName" placeholder="Last Name" name="lastName" required>
               <!-- <div class="valid-feedback">
                   Looks good!
                 </div> -->
             </div>
        </div>
         <div class="form-group">
           <label for="username">Username</label>
           <div class="input-group">
             <div class="input-group-prepend">
               <span class="input-group-text">@</span>
             </div>
             <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
             <div class="invalid-feedback" style="width: 100%;">
               Your username is required.
             </div>
           </div>
         </div>

         <div class="form-group">
           <label for="email">Email</label>
           <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email" required>
           <div class="invalid-feedback">
             Please enter a valid email address.
           </div>
         </div>

         <div class="form-group">
           <label for="password">Password</label>
             <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
         </div>
         
        <div class="form-group" class="hide" id="admin-code">
          <label for="">Enter Admin Code</label>
          <input type="text" class="form-control" placeholder="Admin Code" name="Admincode">
        </div>

         <div class="form-group">
           <button class="btn btn-sm btn-primary">Sign Up</button>
       </div>
      </div>
         </form>

</section>

</div>
</div>
</div>
</div>

<script>
  var userRoles=document.getElementById("user-roles");
  var userButton=document.getElementById("as-user");
  var adminButton=document.getElementById("as-admin");
  var signUpForm=document.getElementById("sign-up-form");
  var adminCode=document.getElementById("admin-code");
  var navBar=document.querySelector(".navbar");
       
  navBar.classList.remove("bg-dark");
  userButton.onclick=function signUpToggle(){
        signUpForm.classList.remove("hide");
        userRoles.classList.add("hide");
        adminCode.classList.add("hide");
  }

  adminButton.onclick=function signUpToggle(){
        signUpForm.classList.remove("hide");
        userRoles.classList.add("hide");
        adminCode.classList.remove("hide");
  }
</script>
