<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ticketing System</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;0,700;1,600;1,700&family=Montserrat:ital,wght@0,400;1,400;1,500&family=Overpass:wght@700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 sticky-top">
            <a class="navbar-brand" href="/">Ticketing System</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <% if(!currentUser) { %>
                    <li class="nav-item">
                        <a href="/login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link">Sign Up</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a href="/user/<%= currentUser._id %>" class="nav-link">My Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Logout</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </nav>

        <!-- FLASH MESSAGES -->
        <div class="container mt-3">
            <% if(error && error.length>0){ %>
            <div class="alert alert-danger" role="alert"><%=error%></div>
            <% } %> <% if(success && success.length>0){ %>
            <div class="alert alert-success" role="alert"><%=success%></div>
            <% } %>
        </div>

        <div class="container"></div>
    </body>
</html>
