<%-include("./partials/header")%>

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-xs-12 contentContainer">
                <h1>Welcome to the Ticketing-System</h1>
                <p>Post and Manage ticketing easily</p>
                <a href="/user" class="btn btn-lg btn-primary">Add new ticket</a>
            </div>
        </div>
    </div>
    </section>
    



<%-include("./partials/footer")%>
