@import url("https://use.fontawesome.com/releases/v5.11.2/css/all.css");
html{
    height:100%;
}
body{
    height: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background:#f2f2f2 ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
ul>li{
    padding: 5px;
}
h3,
h6,h1{
margin: 0;
padding: 0;
}
#Open{
    background-color: green;
}
#Closed{
    background-color: red;
}
#Pending{
    background-color: yellow;
}
.hide{
    display: none;
}

/* SUPPORT PAGE */
h1{
    margin-top: 75px;
    font-size: 30px;
    font-family: 'Overpass', sans-serif;
}
.card-title
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
#description,
#createdAt{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.status-circle{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 15px;
    background-color: yellow;
}
.card-body h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
}
.card-body{
    padding-top: 0;
}
/* TICKET SHOW PAGE  */
.row div{
    padding-left: 8px;
    padding-right: 8px;
  }
#user-info{
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 3px 3px #f2f2f2 ;
}
.user-details{
    font-size: 20px;
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-align: center;
}
#user-image{
    width:100%;
    height: auto;
    padding: 0;
    border-radius: 15px;
}
.details{
    font-family:'Montserrat', sans-serif;
    display: flex;
    flex-direction: rows;
}
.ticket-details{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.status-forms{
    display: flex;
    flex-direction: row;
}
.ticket-desc-header{
    margin-top: 0.7em; 
    padding-left: 15px;
    font-size: 1.5em;
    font-family:'Josefin Sans', sans-serif;
    letter-spacing: 0.1em;
}
#ticket-desc{
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
#status-warning{
    font-weight: lighter;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
}

/* REGISTER PAGE */
#user-roles{
    margin-top:100px; 
    padding:70px;
}

.register-left{
    margin-top: 130px;
    text-align: center;
    padding: 30px;
    color: white;
}
.register-left p{
    padding: 20px 20px 0;
}
.register-left .btn-primary{
    border-radius:1.2em;
    border: none;
    font-weight: 600;
    width: 120px;
    padding: 10px;
    color: #555;
    background: #f8f8f8;
    transition-duration: 0.5s;
}
.register-left .btn-primary:hover{
    background: #000;
    color: white;
    transition-duration: 0.5s;
}

.register-right{
    border: none;
    background: #f8f8f8;
   padding: 10px;
   margin-top: 15px;
   margin-bottom: 20px;
   background-repeat: no-repeat;
   border-top-left-radius: 12% 50%;
   border-bottom-left-radius: 12% 50%;
   padding: 30px;
}
.register-form{
   width: 90%;
   margin-left: 30px;
}
.register-right .btn-primary{
    float: right;
    border-radius:1.2em;
    border: none;
    font-weight: 600;
    width: 120px;
    padding: 10px;
    color: #f8f8f8;
    background:black;
    transition-duration: 0.3s;
}
.register-right .btn-primary:hover{
    background: green;
    transition-duration: 0.4s;
}

/* LOGIN PAGE */
.main-section{
    margin: 0 auto;
    padding: 0;
    margin-top: 130px;
}
.modal-content{
    border: none;
    background-color: #434e5a ;
    opacity: .8;
    padding: 0 18px;
    border-radius: 10px;
}
.user-img{
    margin-top: -60px;
    margin-bottom: 45px;
}
.user-img img{
    width: 120px;
    height: 120px;
}

.form-group #inputUsername,
.form-group #inputPassword{
    margin-bottom: 25px;
    height:42px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    letter-spacing: 2px;
}
.login-form button{
    width: 40%;
    margin: 5px 0 25px;
}
.login-form .btn-success{
    background-color:#000;
    font-size: 19px;
    border-radius: 5px;
    border: 1px solid #daf1ff;
    transition-duration: 0.4s;
}
.login-form .btn-success:hover{
    background-color: rgb(33, 189, 46);
    transition-duration: 0.4s;
}
.login-form label{
    color: #f8f8f8;
    font-weight: 500;
}
.forgot{
    padding-bottom: 10px ;
}
.forgot a{
  color: #f8f8f8;  
  text-decoration: none;
}
.forgot a:hover{
    transition-duration: 0.3s;
    color: skyblue;
}