/* SUPPORT PAGE */
h1{
    margin-top: 75px;
    font-size: 30px;
    font-family: 'Overpass', sans-serif;
}
.new-ticket{
    font-family: 'Roboto',sans-serif;
    font-size: 26px;
}
.card-title
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
#description,
#createdAt{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.status-circle{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 15px;
    background-color: yellow;
}
.card-body h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: bold;
    padding-top: 10px;
}
.card-body{
    padding-top: 0;
}