/* SUPPORT PAGE */
h1{
    margin-top: 75px;
    font-size: 30px;
    font-family: 'Overpass', sans-serif;
}
.new-ticket{
    font-family: 'Roboto',sans-serif;
    font-size: 26px;
}
.card-title
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
#description,
#createdAt{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.status-circle{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 15px;
    background-color: yellow;
}
.card-body h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: bold;
    padding-top: 10px;
}
.card-body{
    padding-top: 0;
}

/* PAGINATION */
.page-item{
    padding: 0;
    color: white;
}

/* Search form */
.search form{
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgba(0,0,0);
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.input-field{
    flex-grow: 1;
    position: relative;
    border-right: 1px solid black;
    box-sizing: border-box;
    display: block;
}
.input-field input,
.input-field select,
.input-field button{
    height: 50px;
    background: #fff;
    border-radius: 0;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 20px 10px 45px;
    font-size: 16px;
    color: #555;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.input-field button{
    color: white;
    padding: 10px 20px;
    background-color: rgba(227, 176, 57,0.9);
}
.hide-search{
    display: none !important;
}
